<h3>All Animals</h3>

<select (change)='onAgeChange($event.target.value)'>
  <label>Filter By Age</label>
  <option value='all'>All Animals</option>
  <option value='<=2'>Animals younger than or equal to 2 years old</option>
  <option value='>2'>Animals older than 2 years old</option>
</select>
<select (change)='onDietChange($event.target.value)'>
  <label>Filter By Diet</label>
  <option value='all'>All Animals</option>
  <option value='Not Meat Eaters'>Not Meat Eaters</option>
  <option value='Meat Eaters'>Meat Eaters</option>
</select>
<table class='table-striped table-bordered'>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Diet</th>
    <th>Location</th>
    <th>Caretakers</th>
    <th>Sex</th>
    <th>Likes</th>
    <th>Dislikes</th>
    <th>Date Received</th>
    <th>Update</th>
  </tr>
  <tr *ngFor='let animal of childAnimalList | agePipe: ageCondition | dietPipe: dietCondition'>
    <td>{{animal.animalName}}</td>
    <td>{{animal.age}}</td>
    <td>{{animal.diet}}</td>
    <td>{{animal.location}}</td>
    <td>{{animal.caretakers}}</td>
    <td>{{animal.sex}}</td>
    <td>{{animal.likes}}</td>
    <td>{{animal.dislikes}}</td>
    <td>{{animal.date}}</td>
    <td><button (click)='updateAnimal(animal)' class='btn btn-info'>Update</button></td>
  </tr>
</table>
<h5>Total Caretakers Needed: {{this.caretakerTotal}}</h5>
