<hr>
<div>
  <h3>Add New Animal</h3>
  <div class='form-group'>
    <label>Enter Animal Name:</label>
    <input #newName>
  </div>
  <div class='form-group'>
    <label>Enter Animal Age:</label>
    <input #newAge type='number'>
  </div>
  <div class='form-group'>
    <label>Enter Animal Diet:</label>
    <select #newDiet>
      <option value='Carnivore'>Carnivore</option>
      <option value='Herbivore'>Herbivore</option>
      <option value='Omnivore'>Omnivore</option>
    </select>
  </div>
  <div class='form-group'>
    <label>Enter Animal Location:</label>
    <input #newLocation>
  </div>
  <div class='form-group'>
    <label>Enter Number of Caretakers:</label>
    <input #newCaretakers type='number'>
  </div>
  <div class='form-group'>
    <label>Enter Animal Sex:</label>
    <select #newSex>
      <option value='Male'>Male</option>
      <option value='Female'>Female</option>
    </select>
  </div>
  <div class='form-group'>
    <label>Enter Animal Likes:</label>
    <input #newLikes>
  </div>
  <div class='form-group'>
    <label>Enter Animal Dislikes:</label>
    <input #newDislikes>
  </div>
  <button class="btn btn-primary"(click)="finishedNewButton(newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value); newName.value='';newAge.value='';newDiet.value='';newLocation.value='';newCaretakers.value='';newSex.value='';newLikes.value='';newDislikes.value=''">Save</button>
</div>
